<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit newsEntity</title>
</head>
<body>
<h1>Edit newsEntity</h1>
<form action="/news/edit" method="post">
    <input type="hidden" name="id" th:value="${newsEntity.id}">
    <input type="hidden" name="date_news" th:value="${newsEntity.date_news}">
    <div>
        <label for="category">Category</label>
        <input type="number" id="category" name="category_id" required th:value="${newsEntity.category_id}">
    </div>
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required th:value="${newsEntity.title}">
    </div>
    <div>
        <label for="news">Text</label>
        <input type="text" id="news" name="news" required th:value="${newsEntity.news}">
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" id="author" name="author" required th:value="${newsEntity.author}">
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>
