<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create comment</title>
</head>
<body>
<h1>Create comment</h1>
<form action="/comments/createComment" method="post">
    <input type="hidden" name="id_news" th:value="${commentEntity.id_news}">
    <div>
        <label for="author">Author</label>
        <input type="text" id="author" name="author" required th:value="${commentEntity.author}">
    </div>
    <div>
        <label for="text">Text</label>
        <input type="text" id="text" name="text" required th:value="${commentEntity.text}">
    </div>
    <div>
        <label for="pin">Pin</label>
        <input type="number" id="pin" name="pin_reader" required th:value="${commentEntity.pin_reader}">
    </div>
    <button type="submit">Save</button>
</form>
<a th:href="@{/comeback}">
    <button type="submit">Return</button>
</a>
</body>
</html>