<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit comment</title>
</head>
<body>
<h1>Edit comment</h1>
<form action="/comments/editCommentAuthor" method="post">
    <input type="hidden" name="id" th:value="${commentEntity.id}">
    <input type="hidden" name="id_news" th:value="${commentEntity.id_news}">
    <input type="hidden" name="author" th:value="${commentEntity.author}">
    <div>
        <label for="text">Text</label>
        <input type="text" id="text" name="text" required th:value="${commentEntity.text}">
    </div>
    <div>
        <label for="pin_reader">Pin</label>
        <input type="number" id="pin_reader" name="pin_reader">
    </div>
    <a th:href="@{/comments/editCommentAuthor}">
        <button type="submit">Save</button>
    </a>
</form>
<a th:href="@{/comeback}">
    <button type="submit">Return</button>
</a>
</body>
</html>