<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<h1>Categories</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="categoryEntity : ${categories}">
        <td th:text="${categoryEntity.id}"></td>
        <td th:text="${categoryEntity.title}"></td>
        <td>
            <a th:href="@{/category/editCategory/{id}(id=${categoryEntity.id})}">
                <button type="submit">Edit category</button>
            </a>
            <a th:href="@{/category/deleteCategory/{id}(id=${categoryEntity.id})}">
                <button type="submit">Delete category</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/category/createCategory}">
    <button type="submit">Create category</button>
</a>
<a th:href="@{/category/comeback}">
    <button type="submit">Return</button>
</a>
</body>
</html>