<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>
<form action="/readers/registration" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required th:value="${readerEntity.name}">
    </div>
    <div>
        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" required th:value="${readerEntity.surname}">
    </div>
    <div>
        <label for="pin">Pin (entry some code and remember it)</label>
        <input type="number" id="pin" name="pin" required th:value="${readerEntity.pin}">
    </div>
    <a th:href="@{/readers/registration}">
        <button type="submit">Save</button>
    </a>
    <a th:href="@{/readers/comeback}">
        <button type="submit">Return</button>
    </a>
</form>
</body>
</html>
