<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
</head>
<body>
<h1>Categories</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Text</th>
        <th>Description</th>
        <th>Snow book</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.getIntegers[0]}"></td>
        <td th:text="${category.getStrings[0]}"></td>
        <td th:text="${category.getStrings[1]}"></td>
        <td>
            <a th:href="@{/bookstore/book/category{id}(id=${category.getIntegers[0]})}">
                <button type="submit">Show books by Category</button>
            </a>
        </td>
        <td>
            <a th:href="@{/bookstore/category/edit/{id}(id=${category.getIntegers[0]})}">
                <button type="submit">Edit</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/bookstore/category/create}">
    <button type="submit">Create category</button>
</a>
<h1>Books for sale</h1>
<table>
    <thead>
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Date</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Show</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${allBooks}">
        <td th:text="${book.getStrings[0]}"></td>
        <td th:text="${book.getStrings[1]}"></td>
        <td th:text="${book.getStrings[2]}"></td>
        <td th:text="${book.getIntegers[1]}"></td>
        <td>
            <a th:href="@{/bookstore/book/edit/{id}(id=${book.getIntegers[0]})}">
                <button type="submit">Edit book</button>
            </a>
        </td>
        <td>
            <a th:href="@{/bookstore/book/delete/{id}(id=${book.getIntegers[0]})}">
                <button type="submit">Delete book</button>
            </a>
        </td>
        <td>
            <a th:href="@{/bookstore/book/author/{author}(author=${book.getStrings[0]})}">
                <button type="submit">Show books by Author</button>
            </a>
        </td>
    </tr>
    </tbody>
    <a th:href="@{/bookstore/book/create}">
        <button type="submit">Add book</button>
    </a>
</table>
</body>
</html>
