<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments current news</title>
</head>
<body>
<h1>Comments current news</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Id News</th>
        <th>Author</th>
        <th>Text</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="commentEntity : ${commentsByIdNews}">
        <td th:text="${commentEntity.id}"></td>
        <td th:text="${commentEntity.id_news}"></td>
        <td th:text="${commentEntity.author}"></td>
        <td th:text="${commentEntity.text}"></td>
        <td th:text="${commentEntity.date_comment}"></td>
        <td>
            <a th:href="@{/showCommentsByAuthor/{author}(author=${commentEntity.author})}">
                <button type="submit">Show comments by author</button>
            </a>
        </td>
        <td>
            <a th:href="@{/comments/editCommentNews/{id}(id=${commentEntity.id})}">
                <button type="submit">Edit</button>
            </a>
        </td>
        <td>
            <a th:href="@{/comments/deleteCommentNews/{id}(id=${commentEntity.id})}">
                <button type="submit">Delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/comment/comeback}">
    <button type="submit">Return</button>
</a>
</body>
</html>