<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit reader role</title>
</head>
<body>
<h1>Edit reader role</h1>
<form action="/readers/editRoleReader" method="post">
    <input type="hidden" name="user_id" th:value="${roleEntity.user_id}">
    <div>
        <label for="role">Role</label>
        <input type="text" id="role" name="role" required th:value="${roleEntity.role}">
    </div>
    <button type="submit">Save</button>
    <a th:href="@{/comeback}">
        <button type="submit">Return</button>
    </a>
</form>
</body>
</html>