<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management users</title>
</head>
<body>
<h1>Readership</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="readerEntity : ${readers}">
        <td th:text="${readerEntity.id}"></td>
        <td th:text="${readerEntity.name}"></td>
        <td th:text="${readerEntity.surname}"></td>
        <td>
            <a th:href="@{/readers/deleteReader/{id}(id=${readerEntity.id})}">
                <button type="submit">Delete reader</button>
            </a>
        </td>
        <td>
            <a th:href="@{/readers/editReader/{id}(id=${readerEntity.id})}">
                <button type="submit">Edit reader</button>
            </a>
        </td>
        <td>
            <a th:href="@{/readers/editRoleReader/{id}(id=${readerEntity.pin})}">
                <button type="submit">Edit role</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<h1>Massage from users</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="massageEntity : ${massages}">
        <td th:text="${massageEntity.id}"></td>
        <td th:text="${massageEntity.author}"></td>
        <td th:text="${massageEntity.title}"></td>
        <td th:text="${massageEntity.date_resent}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/comeback}">
    <button type="submit">Return</button>
</a>
</body>
</html>