<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category news</title>
</head>
<body>
<h1>Category news</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Title</th>
        <th>Text</th>
        <th>Author</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="newsEntity : ${newsByCategory}">
        <td th:text="${newsEntity.id}"></td>
        <td th:text="${newsEntity.category_id}"></td>
        <td th:text="${newsEntity.title}"></td>
        <td th:text="${newsEntity.news}"></td>
        <td th:text="${newsEntity.author}"></td>
        <td th:text="${newsEntity.date_news}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/comeback}">
    <button type="submit">Return</button>
</a>
</body>
</html>
