<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Examples</title>
</head>
<body>

<!-- "Бульон традиционный" -->

<div th:if="${name != null}">
    <p>Hello, <span th:text="${name}"></span></p>
</div>

<!--  Перекличка по ингридиентам. -->

<ul>
    <li th:each="department : ${departments}" th:text="${department}">
    </li>
</ul>

<!--  Добавим немного овощей -->

<p th:text="${user.name}"></p>
<p th:text="${user.email}"></p>

<!--  Проверим на вкус соль -->

<form th:object="${user}" th:action="@{/example/save}" th:method="post">
    <input type="text" placeholder="Name" th:field="*{name}">
    <input type="email" placeholder="Email" th:field="*{email}">
    <button type="submit">Save</button>
</form>

<!-- Немного приправим специями -->

<div th:insert="~{example/fragments/header :: header}"></div>
<div th:insert="~{example/fragments/footer :: footer}"></div>
</body>
</html>